STEPY*/
STEPX*/

README-cameraReady.md

ReconstructionPipeline/BDMAP_*
ReconstructionPipeline/FlagshipModel*
ReconstructionPipeline/AnatomySegmentator
ReconstructionPipeline/logs

STEP1-AutoEncoderModel/vqgan/
STEP1-AutoEncoderModel/klvae/logs

STEP2-DiffusionModel/findLQ
STEP2-DiffusionModel/logs
STEP2-DiffusionModel/inference*
STEP2-DiffusionModel/stable-*

STEP3-CAREModel/stable-*
STEP3-CAREModel/logs
STEP3-CAREModel/wandb

**/wandb/
**/__pycache__/
